atomicwrites
attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
scipy
seaborn
Send2Trash
six
sklearn
statsmodels
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
